<footer>
    <div class="row">
        <div class="col">
         <h3>Who are we? <div class="underline"><span></span></div></h3>
       <p>Careers <br> Authenticity <br>Press <br> Testimonials <br> ESport <br> Responsible Disclosure <br> Responsible Discloure <br> Investor Relations <br> Link to Smart ODR</p> 
       </div>
       <div class="col">
        <h3>HELP<div class="underline"><span></span></div></h3>
        <p>Contact Us <br> Frequently asked questions <br> Store Locator <br>Cancellation & Return <br> Shipping & Delivery <br> Sell on Esport</p>
    </div>
    <div class="col">
        <h3>INSPIRE ME<div class="underline"><span></span></div></h3>
        <P>ESport</P>
        <P>Electroinc Hub</P>
        <p>ESport Tv</p>
        <p>Esport Network</p>
        <p>Buying Guider</p>

    </div>
    <div class="col">
        <h3>Links <div class="underline"><span></span></div></h3>
        <ul>
            <li>HOME</li>
            <li>SERVICES</li>
            <li>ABOUT US</li>
            <li>FEATURES</li>
            <li>CONTACTS</li>
        </ul>
    </div>
    <div class="col">
        <h3>TOP CATEGORIES<div class="underline"><span></span></div></h3>
        <P>Home Appliances</P>
        <p>Kitchen Appliances</p>
        <p>Winter Aplliances</p>
        <p>Smarts Gadget</p>
        <p>Summer Spical</p>
        <p>Gift Item</p>
    </div>
    </div>  
    <div class="containner">
    <div class="shoping">
      <div class="icon"> <i class="fa-solid fa-truck"></i></div> 
       <div class="textt"> 
        <h3>FREE SHIPPING</h3>
        <P>On ordes above &#x20B9;10000</P></div>
    </div>
   <div class="return">
    <div class="icons"><i class="fa-solid fa-rotate-left"></i></div>
    <div class="textt">
        <h3>EASY RETURNS</h3>
        <P>10-day Return Policy</P>
    </div>
   </div>
   <div class="authentic">
    <div class="iconss"><i class="fa-solid fa-award"></i></div>
    <div class="textt">
        <h3>100% AUTHENTIC</h3>
        <p>Product Sourced Directly</p>
    </div>
   </div>
</div>
    <div class="social-icons">
        <p>show us some &#9829; on social media</p>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-x-twitter"></i>
    </div>    
    <hr>
    <p class="copyright">ESport 2023 - All Rights Reserved </p>
    
    

</footer>