<div class="bnav">
<div class="nav">
    <div class="logo">
        <div class="e">E</div>
        <div class="s">Sport</div>
    </div>

    <div class="options">
        <div class="menu"><button class="xx"><i class="fa-solid fa-bars "></i></button></div>
        <div class="option hide"><a method="GET" href="/esport/home">Home</a></div>
        <div class="option hide"><a href="">Address</a></div>
        <div class="option l hide"><a href=""><i class="fa-solid fa-user"></i></a></div>
        <!-- <div class="option l hide"> <a href=""><i class="fa-regular fa-heart"></i></a></div> -->
        <div class="option l hide"><a href="http://localhost:8080/esport/cart"><i class="fa-solid fa-cart-arrow-down"></i></a></div>
    </div>
   </div>
</div>

   