*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    margin-top: 30px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #114232, #87a922);
    color: #fff;
    padding:  100px 0 30px;
    border-radius: 126px 20px 20px 0px;
    font-size: 15px;
    line-height: 22px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
 .col{
 /* background-color: black; */
   
} 
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
 ul li{
    list-style: none;
    
 }
 ul li a{
    text-decoration: none;
 }
 
 .social-icons{
    /* background-color: #d41d1d; */
    margin-left: 80%;
    height: 30px;
 }
 .social-icons > i{

    margin-left: 9px;
    cursor: pointer;
 }
 .social-icons > i:hover{
    transform: scale(1.5);
 }

 hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
 }
 .copyright{
    text-align: center;
 }
 .underline{
    width: 100%;
    height: 5px;
    background:#c18181 ;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
 }
 .underline span{
    width: 15px;
    height: 100%;
    background: #efdbea;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    overflow: hidden;
    animation: moving 2s linear infinite;
 }
 @keyframes moving{
    0%{
        left: -20%;
    }
    100%{
        left: 100%;
    }
 }
 
 .containner{
    display: flex;
    width: 80%;
    /* background-color: #c62d2d; */
    justify-content: space-between;

 }
 .container h3{
    text-decoration: underline solid white;
 }
 .shoping {
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
 }
 .icon{
    margin-top: 10px;
    font-size: 30px;
    margin-right: 7px;
    transition: all 300ms linear;
    animation: movings 1.5s linear infinite alternate;
    position: relative;
 }

 @keyframes movings{
    0%{
        left: -20%;
    }
    100%{
        left: 2%;
    }
 }
 .icons{
    margin-top: 10px;
    font-size: 30px;
    margin-right: 7px;
     animation: aaa 1.5s linear infinite alternate-reverse;
 }
 @keyframes aaa{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
     }
    /* 100%{
        rotate: 360deg;
    } */ 
 }

 .return{
    margin-left: 15px;
    display: flex;
    margin-top: 20px;
 }
 .authentic{
    margin-left: 15px;
    display: flex;
    margin-top: 20px;

 }
 .iconss{
    margin-top: 10px;
    font-size: 30px;
    margin-right: 7px; 
    animation: bbb 1.5s linear infinite alternate;
 }
 @keyframes bbb {
    0%{
        scale: 50%;
    }
    100%{
        scale: 150%;
}
}





i{
    font-family: 'FontAwesome';
}
.hero{
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: #000;
}
.left{
    height: 100%;
    width: 50%;

    background-color: #007F73;
}
.right{
   
    height: 100%;
    width: 50%;
    background-color: #FFC700;
    
}
.nav{
    margin: 10px 0 0 0;
    position: absolute;
    left: 0px;
    display: flex;
    height: 40px;
    width: 100%;
    background-color: transparent;
    justify-content: space-around;
    transition: all 0.3s linear;
}
.logo{
    display: flex;
    height: 100%;
    width:120px;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius:  9px;
    cursor:not-allowed;
    transition: all 500ms ease-in;
}

.e{
    width: 35px;
    height: 35px;
    background-color: #fac802;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    padding:2px 0 0 2px;
}.s{
    height: 80%;
    background-color: #000;
    color: #fff;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    border-radius:5px;

}
.search{
    position: relative;
    left: 100px;
    height: 100%;
    width:300px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
}
.search > input{
   border-radius: 10px;
    width: 70%;
    height: 90%;
    font-size:large;
    background-color: #b4dce5;
    border: 0.5px solid rgba(0, 0, 0, 0.293);
    
}
.search > button{ 

height: 90%;
width: 40px;
font-size: larger;
cursor: pointer;
background-color: #994006;
color: #fff;
border-radius: 50%;
border: 0px;
transition: all 0.3s linear;
}
.search > button > i{
    transition: all 0.3s linear;
}
.search > button:hover i{
    transform: rotate(48deg);

}

.innitial{
    position: relative;
    left: 100px;
}
.innitial > input{
    visibility:hidden;
}
.innitial > button{
   background-color: #fac802;
   position: relative;
   left: 0px;
   color:rgba(73, 11, 127);
}
.options{
    height: 100%;
    width:35%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}.option{
    height: 100%;
    width:auto;
    display: flex;
    color: rgba(73, 11, 127, 0.085);
    transition: all 0.3s linear;
    border-radius: 10px;
    text-align: right;
}
.option > a{
    transition: all 0.3s linear;
}
.option:hover{
    background-color: #4CCD99;
    transform: scale(1.3);
}
.option:hover a{
   
    color: rgba(73, 11, 127);
}

.l{
    color: rgba(73, 11, 127, 0.085);
    width:40px;
    display: flex;
    justify-content: center;
    transition: all 0.3s linear;
    border-radius: 50%;
    cursor: pointer;
}
.l > a{
    margin-top: 10%;
}
.l:hover{  
    background-color: #4CCD99;
}
.option > a{
    text-decoration: none;
    position: relative;
    top: 20%;
}
.menu{
    display: none;
}
h1{
    text-align: center;
}
.Add{
    position: absolute;
    left: 15%;
    top: 10%;
    width: 70%;
    height: 35%;
    display: flex;
    z-index: 0;
}
.ch1{
    background-color: #fac802;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;

}
.ch2{
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
}
.slider{
    width: 400%;
    height: 100%;
    background-color: #fff;
    display: flex;
    transition: all 0.3s linear;
}
.slide{
    height: 100%;
    width: 25%;

}
.one{
    background-color: #d71a1a;
}
.two{
    background-color: #507ee8;
}
.three{
    background-color: #70cb43;
}
.four{
    background-color: #e148ca;
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #fff;
    margin:5% auto;
    box-shadow: 5px 5px 5px blue;
}
.catagoris{
    width: 100%;
    height: auto;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
.c{
    height: auto;
    width: 60%;
    border: 1px solid black;
    margin-top: 20px;
    text-align: center;
    background-color:#F7F6BB;
    border-radius: 10px;
    transition: all 300ms linear;
}
.profileImg{
    width: 100%;
    position: relative;
    margin-top: 5px;
    transition: all 300ms linear;
}
.c:hover{
    transform: scale(1.1);
}
.c:hover .profileImg{
    display: none;
}
.c:hover .items{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}
.items{
    display: none;
    transition: all 300ms linear;
}
.items > a{
    text-decoration: none;
}
.card{
    width:100px ;
    height: 60px;
    border: 1px solid #114232;
    margin-bottom: 10px; 
    display: grid;
    place-items: center;
    box-sizing: border-box;
    border-radius: 30%;
    font-weight: 900;
    color: #114232;
    transition: all 300ms linear;
}
.card:hover{
    background-color:#87A922;
    border: 1px solid transparent;
}

/* .c
} */
@media(max-width:400px){
    .nav{
        width: 100vw;
        justify-content: space-between;
    }
    .options{
       display: block;
       z-index: 1;
       justify-content: right;
    }
    .option{
        width: auto;
        position: relative;
        top: 40px;
        right: 0px;
        text-align: right;
        margin-top: 10px;
        justify-content: right;
    }
    .option:hover{
        background-color: rgb(6, 248, 111);
        transform: scale(1);
    }
    .logo{
        width:100px;
        margin-left: 5px;
        margin-right: 5%;
        padding: 3px;
    }
   
    .e{
        width: 30px;
        height: 30px;
        padding:2px 0 0 2px;
    }
    .s{
        height: 30px;
        background-color: #000;
        font-size: large;
        padding-top: 4px;
    }
    .search{
        width:200px;
        left: 0px;
    }
    .innitial{
        width: 110px;
        left: 50px;
    }
    .search > input{
        font-size: small;
    }
    .innitial > button{
    background-color: #007F73;
    color: #fff;
    } 
    .l{
        position: relative;
       justify-content: center;
       right:-55%;
        top:30px;
        height: 40px;
        width: 40px;
    }
    .menu{
        /* background-color: #f00; */
        display: flex;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 10px;
        justify-content: center;
        transition: all 0.3s linear;
        margin-top: 5px;
    }
    .menu:hover{
        background-color: #fac802;
         transform: scale(1.3);
         
    }
    .menu > button{
        height: 100%;
        cursor: pointer;
    }
    .xx{
        background-color:transparent;
        border: 0px solid transparent;
    }
    .hero{
        height: 32vh;
    }
    .Add{
        left: 10%;
        width: 80%;
        height: 20%;
    }
    .hide{
        display: none;
    }
    .circle{
        height: 90px;
        width:  90px;
        margin-top: 12px;
    }
    .catagoris{
        grid-template-columns: repeat(1,1fr);
    }
    .c{
        width: 80%;
    }
}