<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <form method="get" action="/esport/<%=pid%>/err/buyNow">
    <div class="pop">
        <img src="https://github.com/Amarendra-sahoo-mca/MajorProject-GITA/blob/main/images/popup/error%20logo.png?raw=true" alt=""> 
        <h4 class="popmsg">Please Select the Address first</h4> <br>
        <button id="close">close</button>
    </div>
</form>
</body>
</html> 
