<% layout("/layouts/boilerplate") %> 

<body style="background-color: #e71515;">
    <div style="height: 400px; width:400px;background-color: #e71515; margin:20px auto; text-align: center;">
       <div class="tq"style="height: 80%; width: 95%; border-radius: 50%;text-align:center;color:#fff; background-color: #e71515; font-size:50px; padding-top:60px; box-shadow:10px 10px 10px black;margin:auto;"><h2>THANK</h2> <h2>YOU!</h2></div>
        <p style="font-size: large; color: #fff; font-weight: bold; margin-top: 20px;">FOR BEING A REALLY <br> IMPORTANT PART OF US</p>
    </div>
</body>